@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
	--main-color-h: 251;
	--main-color-s: 85%;
	--main-color-l: 59%;
	--main-colour: hsl(var(--main-color-h), var(--main-color-s), var(--main-color-l));
	--white: hsl(100, 100%, 100%);
	--black: hsl(0, 0%, 0%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
}

body::-webkit-scrollbar {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	color: var(--white);
	font-family: 'Lobster', cursive;
	background-color: var(--main-colour);
}

#cover {
	background-image: url('images/pankaj-patel-6JVlSdgMacE-unsplash.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper h1 {
	font-size: clamp(7.2rem, 10vw, 15rem);
	margin-bottom: 32px;
}

/* Styling for Cards and Cover Image */
.wrapper > * {
	scroll-snap-stop: always;
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#card-1 {
	color: var(--main-colour);
	background-color: var(--white);
}
#card-3 {
	background-image: url('images/stacked-waves-haikei.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.info {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	text-align: left;
	align-items: center;
}
.info > * {
	width: 100%;
}

.info > p {
	display: flex;
	justify-content: left;
	color: var(--black);
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(2rem, 20%, 3rem);
	max-width: clamp(45ch, 20%, 75ch);
}

.topic-card h1 {
	font-size: clamp(4rem, 10vw, 7rem);
}

.info > .image {
	height: clamp(32rem, 30vw, 100rem);
	width: clamp(32rem, 30vw, 100rem);
	border: 8px var(--main-colour) solid;
	border-radius: 8px;
	object-fit: cover;
	object-position: right;
}

.grid-container {
	width: 100%;
	height: 80%;
	display: grid;
	font-size: 2rem;
	grid-template-areas:
		'topbar	topbar	topbar'
		'ads	content	sidebar'
		'footer	footer 	footer';
	grid-template-columns: 0.5fr 3fr 0.5fr;
	grid-template-rows: 50px auto 70px;
}

.grid-container > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-container > header {
	background-color: var(--main-colour);
	grid-area: topbar;
}

.grid-container > aside {
	grid-area: ads;
}

.grid-container > article {
	padding: 1rem;
	font-family: 'Open Sans';
	display: flex;
	align-items: normal;
	justify-content: left;
	color: var(--black);
	background-color: var(--white);
	grid-area: content;
}

.grid-container > nav {
	background-color: hsl(--main-color-h, --main-color-s, 20%);
	display: flex;
	height: 100%;
	width: 100%;
	list-style-type: none;
	justify-content: left;
	flex-direction: column;
	align-items: center;
	grid-area: sidebar;
}

nav > a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 10%;
	font-size: 1.6rem;
	text-decoration: none;
	font-family: 'Open Sans';
	color: white;
	transition: all 0.1s ease-in-out;
}

nav > a:hover {
	color: hsl(251, 85%, 59%);
	background-color: white;
}

.grid-container > footer {
	grid-area: footer;
}

@media screen and (max-width: 800px) {
	.topic-card:nth-child(2) h1 {
		text-shadow: 0px 0px 5px #8b7bcf;
	}
	.topic-card:nth-child(2) {
		position: relative;
		background-image: url('images/jantine-doornbos-xt9tb6oa42o-unsplash.jpg');
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		height: 100vh;
	}
	#background-blur {
		backdrop-filter: blur(10px);
		z-index: 1;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: rgba(102, 102, 102, 0.222);
	}
	.info {
		z-index: 1;
		height: fit-content;
		background-color: rgba(251, 251, 251, 0.227);
		border: 1px solid rgba(255, 255, 255, 0.258);
		padding: 12px;
		width: 90%;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 32px;
		flex-direction: column;
	}

	.topic-card:nth-child(2) h1 {
		z-index: 1;
	}
	.info > p {
		color: #000000;
		width: 90%;
	}
	.info > .image {
		display: none;
	}
}
