@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	display: none;
}
html {
	font-size: 62.5%;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
}

.wrapper {
	display: flex;
	flex-direction: column;
	color: #fff;
	font-family: 'Lobster', cursive;
	background-color: #603fef;
}

#cover {
	background-image: url('images/pankaj-patel-6JVlSdgMacE-unsplash.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Styling for Cards and Cover Image */
.wrapper > * {
	scroll-snap-stop: always;
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

/* Card 1 - What is CSS */
.topic-card:nth-child(2) {
	color: #603fef;
	background-color: #fff;
}

/* Card 2 - Grid Template */

.topic-card:nth-child(3) {
	background-image: url('images/stacked-waves-haikei.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.topic-card > .info > p {
	display: flex;
	justify-content: left;
	color: rgb(0, 0, 0);
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(2rem, 20%, 3rem);
	width: 90%;
	max-width: clamp(45ch, 20%, 75ch);
}

.info {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	text-align: left;
	align-items: center;
}
.info > * {
	width: 100%;
}

.wrapper h1 {
	font-size: clamp(7.2rem, 10vw, 15rem);
	margin-bottom: 32px;
}

.topic-card h1 {
	font-size: clamp(4rem, 10vw, 7rem);
}

.info > .image {
	height: clamp(32rem, 30vw, 100rem);
	width: clamp(32rem, 30vw, 100rem);
	border: 8px #603fef solid;
	border-radius: 8px;
	object-fit: cover;
	object-position: right;
}

.grid-container {
	max-height: 100vh;
	overflow-y: scroll;
	width: 80%;
	height: 50%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-container::-webkit-scrollbar {
	display: none;
}

.card {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: clamp(50px, 10vw, 100px);
	width: 100%;
	overflow: hidden;
	background-color: hsl(159, 50%, 50%, 70%);
	transition: all 0.2s ease-in-out;
	border-radius: 1rem;
}

.card:hover {
	background-color: hsl(159, 75%, 50%, 70%);
	box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.623);
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.topic-card:nth-child(2) h1 {
		text-shadow: 0px 0px 5px #8b7bcf;
	}
	.topic-card:nth-child(2) {
		position: relative;
		background-image: url('images/jantine-doornbos-xt9tb6oa42o-unsplash.jpg');
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		height: 100vh;
	}
	#background-blur {
		backdrop-filter: blur(10px);
		z-index: 1;
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: rgba(102, 102, 102, 0.222);
	}
	.info {
		z-index: 1;
		height: fit-content;
		background-color: rgba(251, 251, 251, 0.227);
		border: 1px solid rgba(255, 255, 255, 0.258);
		padding: 12px;
		width: 90%;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 32px;
		flex-direction: column;
	}

	.topic-card:nth-child(2) h1 {
		z-index: 1;
	}
	.info > p {
		color: #000000;
		width: 90%;
	}
	.info > .image {
		display: none;
	}
}
