@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;700;900&display=swap');
/* Boiler Plate Code */
:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--main-color: hsl(329, 70%, 43%);
	--secondary-color: hsl(230, 79%, 53%);
}

html::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*  Mobile Navigation bar */
.mobile-nav {
	text-align: center;
	height: 100vh;
	width: 0;
	display: inline-grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: #111111ea;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.mobile-nav > .nav-link {
	overflow: hidden;
	white-space: nowrap;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	width: 100%;
	text-align: center;
	font-size: 4rem;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#openBtn {
	display: none;
	cursor: pointer;
	padding-right: 1.6rem;
	padding-top: 1.6rem;
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	color: var(--white);
}
#openBtn > i {
	display: none;
	text-shadow: 2px 3px 4px hsla(0, 0%, 0%, 0.416);
	font-size: 3rem;
	-webkit-text-stroke: 1px hsla(0, 0%, 0%, 0.17);
}

.closebtn {
	position: absolute;
	color: #818181;
	text-decoration: none;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}
.mobile-nav > a:hover {
	color: var(--white);
}
/* Desktop Navigation Bar */
.desktop-nav {
	display: block;
	float: left;
	z-index: 1;
	background: linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0) 100%);
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.desktop-nav > .nav-link {
	font-family: 'Roboto';
	text-decoration: none;
	font-size: 2rem;
	color: var(--white);
	padding: 14px;
	text-align: center;
	float: left;
	width: auto;
	min-width: 60px;
}

/* Spinning Loader for loading webpages */
.loader {
	z-index: 300;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(210, 33%, 98%);
	transition: opacity 075s, visibility 0.75s;
}
.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

.loader::after {
	content: '';
	width: 75px;
	height: 75px;
	border: 15px solid hsl(0, 0%, 87%);
	border-top-color: var(--main-color);
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}

@keyframes loading {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}

@media (max-width: 575.98px) {
	#openBtn {
		display: block;
	}
	#openBtn > i {
		display: block;
	}

	.desktop-nav {
		display: none;
	}
}
