@import './common.scss';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;700;900&display=swap');

body {
	background-color: hsl(0, 0%, 8%);
}

.hero {
	height: 100dvh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(../../public/images/christopher-gower-m_HRfLhgABo-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&-header {
		font-size: clamp(4.5rem, 6vw, 8rem);
		padding: 1em 2em;
		width: 100%;
		margin-inline: auto;
		min-width: 90%;
		text-align: center;
		color: $alt-font-color;
		text-shadow: 3px 4px 5px hsla(0, 0%, 0%, 0.732);
	}
	&-call {
		color: $alt-font-color;
		font-size: clamp(2em, 1.5vw, 4em);
		background-color: hsla(0, 0%, 0%, 0.453);
		padding: 0.5em;
		line-height: 1.2em;
		border-radius: 1em;

		backdrop-filter: blur(2px);

		&::before {
			content: open-quote;
		}
		&::after {
			content: close-quote;
		}
	}
}

